    	</div>
    <footer class="footer">
	    <div class="container">
	        <nav class="pull-left">
	            <ul>
					<li>
						<a href="{{ site.url }}/first.html">
						   FIRST
						</a>
					</li>
					<li>
						<a href="{{ site.url }}/blog.html">
						   Blog
						</a>
					</li>
					<li>
						<a href="{{ site.url }}/events.html">
							Events
						</a>
					</li>
	            </ul>
	        </nav>
	        <div class="copyright pull-right">
	            &copy; 2018, Stryke Force Robotics
	        </div>
	    </div>
	</footer>
</div>
{% include modal.html %}
    <!--   Core JS Files   -->
    <script src="{{site.url}}/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="{{site.url}}/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{site.url}}/assets/js/material.min.js" type="text/javascript"></script>
    <script src="{{site.url}}/assets/js/jquery.smartmenus.min.js" type="text/javascript"></script>
    <script src="{{site.url}}/assets/js/jquery.smartmenus.bootstrap.min.js" type="text/javascript"></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{{site.url}}/assets/js/nouislider.min.js" type="text/javascript"></script>

    <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="{{site.url}}/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="{{site.url}}/assets/js/material-kit.js" type="text/javascript"></script>
    <script type="text/javascript">
		$().ready(function(){
			// the body of this function is in assets/material-kit.js
			materialKit.initSliders();
            window_width = $(window).width();
            if (window_width >= 992){
                big_image = $('.wrapper > .header');
				$(window).on('scroll', materialKitDemo.checkScrollForParallax);
			}
		});
	</script>
</html>
